name: 'github actions build and deploy vue-press'
on:
  push:
    # 此此项目的 master 为源码分支，当此分支被 push 时 ，就触发 action deploy
    branches:
      - main
jobs:
  build-and-deploy:
    # 使用 ubuntu 服务器
    runs-on: ubuntu-latest
    steps:
      # 拉取代码
      - name: Checkout
        # 使用已有的action
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
      - name: install and build
        run: |
          npm install
          npm run build

      - name: Deploy
        # 使用别人写好的 action 部署
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          # ACCESS_TOKEN 需要到 github 上去增加一个secrets，并命名为 ACCESS_TOKEN
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

          # GITHUB_TOKEN 为内置变量，无需在secrets手动添加
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # 将本仓库的 gh-pages 分支作为静态部署分支，前提是此仓库为公开仓库，私有仓库会收费，
          BRANCH: gh-pages
          FOLDER: docs/.vuepress/dist
